*{
    padding: 0;
    margin: 0;
}

.container{
    height: 100vh;
    width:  100vw;
    margin: 0 auto;
    border: 2px solid #FF00FF;
    position: relative;
}
/*------------------------------ CAT ------------------------------*/
#cat{
    height: 130px;
    width: 200px;
    background-color: #A0522D;
    position: absolute;
    top: 200px;
    text-align: center;
    border-radius: 50%;
    left: 150px;
    transform: rotate(10deg) skewX(-2deg);
}
.catBody{
    width: 120px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 5em 5em 4em 5em;
    bottom: 190px;
    position: relative;
    background-color: lightgray;
    margin: 0 auto;
    z-index: 1;
}
.catHead{
    width: 90px;
    height: 100px;
    border: 1px solid gray;
    border-radius: 50% 50%;
    position: relative;
    z-index: 2;
    background-color: lightgray;
    margin: 0 auto;
}
.catEars{
    width: 35px;
    height: 35px;
    position: relative;
    border: 4px solid gray;
    background-color: white;
    display: inline-block;
    z-index: 2;
}
.catEarLeft{
    left: 0px;
    top: 40px;
    transform: skew(10deg,30deg);
}
.catEarRight{
    left: 0px;
    top: 45px;
    transform: skew(170deg,150deg);
    border-top-right-radius: 0.8em;
}
.catEyes{
    width: 15px;
    height: 15px;
    background-color: dimgray;
    border-radius: 50%;
    transform: skew(0deg,3deg);
    position: relative;
}
.catEyeLeft{
    float: left;
    margin: 40px 0px 0px 20px;
}
.catEyeRight{
    float: right;
    margin: 40px 20px 0px 0px;
}
.catNose{
    width: 10px;
    height: 10px;
    background-color: black;
    position: absolute;
    border-radius: 40%;
    border: 1px solid black;
    top: 70%;
    left: 43%;
}
.catMoustache{
    width: 50px;
    height: 40px;
    position: absolute;
    border: 2px solid black;
    z-index: 2;
}
.catMoustacheLeft{
    width: 40px;
    height: 30px;
    top: 75px;
    left:65px;
    transform: skew(50deg);
    border-bottom: 0px;
    border-right: 0px;
}
.catMoustacheLeft2{
    width: 50px;
    height: 25px;
    top: 80px;
    left:50px;
    transform: skew(25deg,10deg);
    border-bottom: 0px;
    border-right: 0px;
}
.catMoustacheRight{
    height: 40px;
    width: 20px;
    top: 75px;
    left: -1px;
    transform: skew(130deg);
    border-bottom:0;
    border-bottom:0;
    border-left: 0;
}
.catMoustacheRight2{
    height: 30px;
    width: 20px;
    top: 95px;
    left: -8px;
    transform: skew(120deg,120deg);
    border-bottom: 0;
    border-left: 0;
}
.catMouth{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid darkgray;
    display: inline-block;
    position: absolute;
    bottom: 5px;
}
.catMouthLeft{
    left: 22px;
    border-top: 0px;
    border-right: 0px;
}
.catMouthRight{
    border-top: 0px;
    border-left: 0px;
}
.catTail{
    width: 80px;
    height: 120px;
    position: absolute;
    top: -50px;
    left: 60px;
    border: 15px solid gray;
    border-radius: 50%;
    z-index: 0;
    transform: skew(-1deg);
}
/*------------------------------ WALL,HOLE,MOUSE ------------------------------*/
.wall{
    height: 100%;
    width: 50px;
    position: absolute;
    bottom: 0;
    background-color: gray;
    z-index: 2;
    display: inline-block;
}
.hole{
    width: 120px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 83%;
    left: 29px;
    background-color: white;
}
.mouse{
    width: 50px;
    height: 30px;
    background-color: lightgrey;
    border: 1px solid black;
    border-radius: 50%;
    z-index: 2;
    position: absolute;
    transform: rotate(-10deg);
    animation: escape 10s ease-out 0s running;
    left: 0%;
    bottom: 5%;
}
.mouseEar{
    width: 20px;
    height: 15px;
    border-radius: 1em 2em;
    border: 2px solid gray;
    background-color: burlywood;
    position: absolute;
    bottom: 80%;
    left: 40%;
}
.mouseNouse{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 1px solid gray;
    background-color: burlywood;
    position: absolute;
    left: 95%;
    top: 40%;
}
.mouseEye{
    width: 7px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: black;
    position: absolute;
    left: 75%;
    bottom: 60%; 
}
.mouseTail{
    width: 25px;
    height: 0.1px;
    background-color: black;
    position: absolute;
    bottom: 30%;
    left: -50%;
    border: 1px solid black;
    border-radius: 4em;
}
/*------------------------------ TREE ------------------------------*/
.tree{
    width: 35px;
    height: 90%;
    background-color: saddlebrown;
    position: absolute;
    z-index: 5;
    right: 0px;
    bottom: 0;
    display: inline-block;
    border-radius: 40% 0%;
    transform: skewX(2deg);
}
.branch{
    width: 300px;
    height: 10px;
    background-color: saddlebrown;
    position: absolute;
    Z-index: 5;
    right: 0px;
    top: 50px;
    display: inline-block;
    border-radius: 40% 10%;
}
/*------------------------------ ESCAPE-ANIMATION ------------------------------*/
@keyframes escape{
    0%
    {
        left: 0%;
        bottom: 5%;
    }
    50%{
        left: 50%;
        bottom: 25%;
    }
    100%{
        left: 100%;
        bottom: 0%;
        display: none;
    }
}